In [1]:
%load_ext sql
%sql sqlite:///sql/credit_risk.db

'Connected: @sql/credit_risk.db'

In [2]:
%%sql
SELECT COUNT(*) FROM german_credit;

 * sqlite:///sql/credit_risk.db
Done.

[(1000,)]

In [6]:
result = %sql SELECT AVG(Credit_amount) FROM german_credit;
print(result)

 * sqlite:///sql/credit_risk.db
Done.
+--------------------+
| AVG(Credit_amount) |
+--------------------+
|      3271.258      |
+--------------------+

In [7]:
%%sql
SELECT * FROM german_credit LIMIT 5;

 * sqlite:///sql/credit_risk.db
Done.

[('A11', '6', 'A34', 'A43', '1169', 'A65', 'A75', '4', 'A93', 'A101', '4', 'A121', '67', 'A143', 'A152', '2', 'A173', '1', 'A192', 'A201', '1'),
 ('A12', '48', 'A32', 'A43', '5951', 'A61', 'A73', '2', 'A92', 'A101', '2', 'A121', '22', 'A143', 'A152', '1', 'A173', '1', 'A191', 'A201', '2'),
 ('A14', '12', 'A34', 'A46', '2096', 'A61', 'A74', '2', 'A93', 'A101', '3', 'A121', '49', 'A143', 'A152', '1', 'A172', '2', 'A191', 'A201', '1'),
 ('A11', '42', 'A32', 'A42', '7882', 'A61', 'A74', '2', 'A93', 'A103', '4', 'A122', '45', 'A143', 'A153', '1', 'A173', '2', 'A191', 'A201', '1'),
 ('A11', '24', 'A33', 'A40', '4870', 'A61', 'A73', '3', 'A93', 'A101', '4', 'A124', '53', 'A143', 'A153', '2', 'A173', '2', 'A191', 'A201', '2')]

In [8]:
%%sql
DROP TABLE IF EXISTS features;
CREATE TABLE features AS
SELECT
  Credit_amount,
  Duration,
  Age,
  CASE WHEN Credit_amount > 5000 THEN 1 ELSE 0 END AS high_loan_flag,
  CASE WHEN Age < 25 THEN 1 ELSE 0 END AS young_flag,
  CASE WHEN Risk = 'bad' THEN 1 ELSE 0 END AS label
FROM german_credit;

 * sqlite:///sql/credit_risk.db
Done.
Done.

[]

In [9]:
%%sql
SELECT * FROM features LIMIT 5;

 * sqlite:///sql/credit_risk.db
Done.

[('1169', '6', '67', 0, 0, 0),
 ('5951', '48', '22', 1, 1, 0),
 ('2096', '12', '49', 0, 0, 0),
 ('7882', '42', '45', 1, 0, 0),
 ('4870', '24', '53', 0, 0, 0)]